/* Global */

:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;

    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--color-white);
}

ul {
    list-style: none;
    padding-left: 0;
}

button {
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: none;
}

/*!* Typography *!*/

h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
}

p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
}

/*section common*/
.section {
    padding: 50px;
    text-align: center;
    margin: auto;
}

.section__container {
    max-width: 1200px;
    margin: auto;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    cursor: default;
}

/*Navbar*/
#navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-white);
    padding: 16px;
    background-color: transparent;
    transition: all 300ms ease-in-out;
    z-index: 1;
}

#navbar.navbar--dark {
    background-color: var(--color-pink);
    padding: 4px 8px;
}

.nav__logo {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

.nav__menu {
    display: flex;
}

.nav__menu .nav__menu__item {
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: 4px;
}

.nav__menu .nav__menu__item.active {
    border: 1px solid var(--color-white);
}

.nav__menu .nav__menu__item:hover {
    background-color: var(--color-dark-pink);
    border-color: var(--color-white);
}

.nav__toggle-btn {
    position: absolute;
    top: 20px;
    right: 32px;
    font-size: 24px;
    color: var(--color-white);
    display: none;
    cursor: pointer;
}

.nav__toggle-btn:hover {
    color: var(--color-dark-white);
}

/*Home*/
#home {
    background: url("../images/homebackground.png") center/cover no-repeat;
    text-align: center;
    padding: 40px;
    padding-top: 120px;
}

.avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid var(--color-white);
}

.home__title,
.home__description {
    color: var(--color-white);
}

.home__contact {
    margin: 24px;
    padding: 8px 12px;
    font-size: var(--font-regular);
    font-weight: bold;
    border: 2px solid var(--color-white);
    color: var(--color-white);
    border-radius: 4px;
}

.home__contact:hover {
    background-color: var(--color-pink);
}

/*About*/
#about {
    text-align: center;
}

.about__majors {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}

.major .major__icon {
    width: 170px;
    height: 170px;
    line-height: 170px;
    color: var(--color-blue);
    border: 1px solid var(--color-blue);
    border-radius: 50%;
    margin-bottom: 16px;
    font-size: 70px;
    margin: auto;
}

.major .major__icon i {
    transition: all 300ms ease-in;
}

.major .major__icon:hover i {
    color: var(--color-pink);
    transform: rotate(-30deg) scale(1.1);
}

.major__title,
.major__description {
    color: var(--color-dark-grey);
}

.job {
    display: flex;
    align-items: center;
}

.job .job__logo {
    width: 150px;
    height: 150px;
}

.job__description {
    margin: 0 16px;
    text-align: left;
}

.job__name {
    font-size: var(--font-small);
}

.jon__period {
    font-size: var(--font-micro);
}

.job__name,
.jon__period {
    color: var(--color-light-grey);
}

/*Skills*/
#skills {
    background: var(--color-yellow);
}

.skillset {
    display: flex;
    background: var(--color-light-grey);
    color: var(--color-white);
    margin: 20px 0;
}

.skillset .skillset__left {
    flex-basis: 60%;
    background-color: var(--color-dark-grey);
    padding: 20px 40px;
}

.skillset .skillset__title {
    color: var(--color-white);
}

.skill {
    margin-bottom: 32px;
}

.skillset .skillset__left .skill__description {
    display: flex;
    justify-content: space-between;
}

.skill__bar {
    height: 3px;
    background-color: var(--color-grey);
}

.skill__bar .skill__value {
    height: 3px;
    background-color: var(--color-orange);
}

.skillset__right {
    flex-basis: 40%;
}

.skillset__right .tools {
    background-color: var(--color-grey);
}

.tools,
.etc {
    padding: 20px;
}

/*Work*/
.work__categories {
    margin: 40px;
}

.work__categories .category__btn {
    border: 1px solid var(--color-dark-white);
    border-radius: 4px;
    font-size: var(--font-regular);
    padding: 8px 48px;
    position: relative;
}

.work__categories .category__btn.selected,
.work__categories .category__btn:hover {
    background-color: var(--color-pink);
    color: var(--color-white);
}

.work__categories .category__btn.selected .category__count,
.work__categories .category__btn:hover .category__count {
    opacity: 1;
    top: 0;
}

.work__categories .category__btn .category__count {
    background-color: var(--color-orange);
    color: var(--color-white);
    width: 24px;
    height: 24px;
    line-height: 24px;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    right: 16px;
    opacity: 0;
    transition: all 300ms ease-in;
}

.work__projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    opacity: 1;
    transition: all 300ms ease-out;
}

.work__projects.anim-out {
    opacity: 0;
    transform: scale(0.96) translateY(40px);
}

.work__projects .project {
    background-color: var(--color-light-white);
    width: 280px;
    height: 250px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.work__projects .project.invisible {
    display: none;
}

.work__projects .project .project__image {
    max-width: 100%;
    max-height: 100%;
}

.work__projects .project .project__description {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-black);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transform: translateY(10px);
    transition: all 300ms ease-in;
}

.work__projects .project:hover .project__description {
    opacity: 0.8;
    transform: translateY(0);
}

.work__projects .project__description h3 {
    color: var(--color-orange);
}

.work__projects .project__description h3:after {
    content: '';
    display: block;
    position: relative;
    left: 50%;
    width: 50px;
    height: 2px;
    transform: translateX(-50%);
    margin-top: 8px;
    background-color: var(--color-dark-white);
}

/*Contact*/
#contact {
    background-color: var(--color-pink);
}

.contact__title,
.contact__description,
.contact__rights {
    color: var(--color-white);
}

.contact__links {
    font-size: var(--font-large);
    margin: 24px 0;
}

.contact__links i {
    transition: all 300ms ease-in;
}

.contact__links i:hover {
    color: var(--color-dark-pink);
    transform: scale(1.1);
}

/*Arrow up*/
.arrow-up {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    color: var(--color-white);
    background-color: var(--color-dark-pink);
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    transition: all 300ms ease-in;
}

.arrow-up:hover {
    background-color: var(--color-pink);
}

.arrow-up.visible {
    opacity: 1;
    pointer-events: auto;
}

@media screen and (max-width: 768px) {
    :root {
        /* Font size */
        --font-large: 30px;
        --font-medium: 18px;
        --font-regular: 16px;
        --font-small: 14px;
        --font-micro: 12px;
    }

    .section {
        padding: 16px;
        padding-top: 40px;
    }

    .nav__toggle-btn {
        display: block;
        top: 14px;
        right: 16px;
        font-size: var(--font-medium);
    }

    #navbar {
        flex-direction: column;
        background-color: var(--color-pink);
    }

    #navbar.navbar--dark {
        padding: 16px;
    }

    .nav__menu {
        flex-direction: column;
        align-items: center;
        width: 100%;
        display: none;
    }

    .nav__menu.open {
        display: flex;
    }

    .about__majors {
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 0;
    }

    .major {
        margin-bottom: 30px;
    }

    .skillset {
        flex-direction: column;
    }

    .category__btn {
        margin: 4px 0;
        width: 100%;
    }

    .work__categories .category__btn {
        padding: 8px;
    }

    .project {
        flex-grow: 1;
    }

    .arrow-up {
        bottom: 16px;
        right: 16px;
        /*flex가 아닐때 수직 중앙정렬*/
        line-height: 50px;
    }
}
